{% extends "detail.html" %}

{% block content %}
<div>
  <p><strong>Name</strong>: {{ model }}</p>
  {% if model.details.count %}
    {% for table_name, details in model.get_details_by_table.items %}
        <p><strong>{{ table_name }}</strong></p>
        <ul>
        {% for subdetail in details %}
          <li>
            <a href="{% url "plan-detail-detail-detail" subdetail.id %}">
              {{ subdetail }}
            </a>
          </li>
        {% endfor %}
        </ul>
    {% endfor %}
  {% endif %}

  {% if model.asset_groups.count %}
    {% for asset_group in model.asset_groups.all %}
        <p><strong>{{ asset_group.name }}</strong></p>
        <ul>
        {% for asset in asset_group.assets.all %}
          <li>
            <a href="{% url "plan-asset-asset-detail" asset.id %}">
              {{ asset }}
            </a>
          </li>
        {% endfor %}
        </ul>
    {% endfor %}
  {% endif %}

  {% if model.grids.count %}
    <p><strong>Grids</strong></p>
    <ul>
    {% for grid in model.grids.all %}
      <li>
        <a href="{% url "plan-asset-asset-grid-detail" grid.id %}">
          {{ grid }}
        </a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
