{% extends "detail.html" %}

{% block content %}
<div>
  <p>{{ model }}</p>
  <strong>Type</strong>: <a href="{% url "plan-detail-detail-detail" model.type.id %}">
    {{ model.type }}
  </a>

  {% if model.satellites.count %}
    <h3>Satellites</h3>
    {% for satellite in model.satellites.all %}
        <li>
          <a href="{% url "plan-asset-element-detail" satellite.id %}">
            {{ satellite }}
          </a>
        </li>
    {% endfor %}
  {% endif %}

  {% if model.territories.count %}
    <h3>Territories</h3>
    {% for territory in model.territories.all %}
        <li>
          <a href="{% url "plan-asset-territory-detail" territory.id %}">
            {{ territory }}
          </a>
        </li>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
