{% extends "detail.html" %}

{% block content %}
<div>
  <p>{{ model }}</p>
  <h3>Routes</h3>
  {% for route in model.routes.all %}
      <li>
        <a href="{% url "plan-asset-route-detail" route.id %}">
          {{ route }}
        </a>
      </li>
  {% endfor %}

  <h3>System Features</h3>
  {% for feature in model.details.all %}
      <li>
        <a href="{% url "plan-detail-detail-detail" feature.id %}">
          {{ feature }}
        </a>
        {% if feature.detail_set.count %}
          <ul>
          {% for subdetail in feature.get_all_child_details %}
              <li>
                <strong>{{ subdetail.get_inspiration_table_name }}</strong>:
                <a href="{% url "plan-detail-detail-detail" subdetail.id %}">
                  {{ subdetail }}
                </a>
              </li>
          {% endfor %}
          </ul>
        {% endif %}
      </li>
  {% endfor %}

  <h3>Star Cluster</h3>
  {% for cluster in model.star_clusters.all %}
      <li>
        <a href="{% url "plan-asset-star-cluster-detail" cluster.id %}">
          {{ cluster }}
        </a>
      </li>
  {% endfor %}
</div>

{% endblock %}
