{% extends "detail.html" %}

{% block content %}
<div>
  <p>{{ model }}</p>
  <p>
    <strong>Time</strong>: <a href="{% url "plan-detail-detail-detail" model.days.id %}">
      {{ model.days.get_description }}
    </a>
  </p>
  {% if model.days.detail_set.count %}
    <ul>
    {% for subdetail in model.days.get_all_child_details %}
        <li>
          <strong>{{ subdetail.get_nested_name }}</strong>:
          <a href="{% url "plan-detail-detail-detail" subdetail.id %}">
            {{ subdetail }}
          </a>
        </li>
    {% endfor %}
    </ul>
  {% endif %}

  <p>
    <strong>Stability</strong>: <a href="{% url "plan-detail-detail-detail" model.stability.id %}">
      {{ model.stability }}
    </a>
  </p>
  {% if model.stability.detail_set.count %}
    <ul>
    {% for subdetail in model.stability.get_all_child_details %}
        <li>
          <strong>{{ subdetail.get_nested_name }}</strong>:
          <a href="{% url "plan-detail-detail-detail" subdetail.id %}">
            {{ subdetail }}
          </a>
        </li>
    {% endfor %}
    </ul>
  {% endif %}

  <h3>Destinations</h3>
  {% for target_system in model.target_systems.all %}
    <li>
      <a href="{% url "plan-asset-system-detail" target_system.id %}">
        {{ target_system }}
      </a>
    </li>
  {% endfor %}
</div>

{% endblock %}
