{% extends "detail.html" %}

{% block content %}
<div>
  <p>{{ model }}</p>
  <h3>Stars</h3>
  {% for star in model.stars.all %}
      <li>
        <a href="{% url "plan-detail-detail-detail" star.id %}">
          {{ star }}
        </a>
        {% if star.detail_set.count %}
          <ul>
          {% for subdetail in star.get_all_child_details %}
              <li>
                <strong>{{ subdetail.get_nested_name }}</strong>:
                <a href="{% url "plan-detail-detail-detail" subdetail.id %}">
                  {{ subdetail }}
                </a>
              </li>
          {% endfor %}
          </ul>
        {% endif %}
      </li>
  {% endfor %}

  <h3>Solar Zones</h3>
  {% for zone in model.zones.all %}
      <li>
        <a href="{% url "plan-asset-zone-detail" zone.id %}">
          {{ zone }}
        </a>
      </li>
  {% endfor %}
</div>

{% endblock %}
